<!-- <form #connectionForm="ngForm" ngSubmit="onSubmit('ngForm')">
    <p><input type="number" id="Client_Id" placeholder="Enter Client ID" ngModel></p>
    <br>
    <p><input type="text" id="Scope" placeholder="Enter Scope" ngModel></p>
    <br>
    <p><input type="text" id="URL" placeholder="Enter Callback URL" ngModel></p>
    <br>
    <p><input type="text" id="Response type" placeholder="Enter Response Type" ngModel></p>
    <br>
    <button type="submit">Make Connection</button>

</form> -->

<a routerLink="create" class="btn btn-success " >Create Connection</a>

<router-outlet> </router-outlet>